@font-face {
  font-family: text;
  src: url(RobotoMono-Regular.ttf);
}

/* Phone screens */
@media only screen and (max-width: 599px) {
  body {
    display: grid;
    grid-template-columns: 100%;
    background-color: white;
    font-family: text;
    margin: 0;
    padding: 0;
  }

  /* title */
  .header {
    height: 5vh;
    background-color: #1B4332;
    line-height: 5vh;
    font-size: 4.5vw;
    color: white;
  }

  .headerholder {
    display: flex;
    justify-content: center;
  }

  /* Menu */
  .logo {
    visibility: hidden;
  }

  .menu {
    height: 5vh;
    background-color: #081C15;
    font-size: 4vw;
  }

  .menuholder {
    padding: 1vh 0vh 0vh 0vh;
    display: flex;
    justify-content: space-around;
  }

  .menuholder a {
    width: 22.5%;
    height: 50%;
    text-decoration: none;
    color: black;
  }

  .button {
    height: 50%;
    background-color: white;
    text-align: center;
    transition: 0.8s;
    background: -webkit-linear-gradient(0deg, #FFF 50%, #ee6c4d 50%);
    background-size: 200% 7.5vh;
  }

  .button:active {
    background-position: -100% 0;
    color: white;
    text-decoration: none;
  }

  /* Contents */
  .content {
    margin: 0vh 0vh 0vh 5%;
    height: 100%;
  }

  .content2 {
    width: 95%;
    height: 100%;
    font-size: 1.5vh;
  }

/* Revealing of contents */
  .reveal{
    position: relative;
    opacity: 0;
    transition: 1s all ease;
  }

  .reveal.active{
    opacity: 1;
  }

  .active.fade {
    animation: fade-bottom 1s ease-in;
  }


  @keyframes fade-bottom {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  /* Text decorations */
  .underline {
    border-color: #ee6c4d;
    border-style: solid;
    border-width: 0vh 0vh 0.3vh 0vh;
    padding-bottom: -1vh;
    position: inline;
  }

  .button1 {
    margin: 0vh 2vh 0vh 0vh;
    font-size: 2.5vh;
    transition: 0.2s;
    transform:rotate(0deg);
    transition: 0.2s linear;
  }

  .rotated {
    transform:rotate(90deg);
    transition: 0.2s linear;
  }

  .hidden_content {
    display: none;
    padding: 1vh 0vh 2vh 0vh;
  }

  .download {
    margin: 1vh 0vh 0vh 0vh;
  }

  .summary {
    margin: 0vh 0vh 0vh 0vh;
  }

  .summary p {
    margin: -1vh 0vh 0vh 0vh;
  }

  .summary2 {
    margin: 0vh 0vh 0vh -1vh;
  }

  .title {
    width: 90%;
    font-size: 2vh;
    padding: 1vh 0vh 1.5vh 0vh;
    display: flex;
  }

  .experience div {
    margin: 0vh 0vh 0vh -4vw;
  }

  .data {
    padding: 0vh 0vh 0vh 0vh;
  }

  .dates, .company {
    font-size: 1.65vh;
  }

  li {
    color: green;
  }

  li span {
    color: black;
  }

  /* Sidebar */

  .contactsSidebar {
    visibility: hidden;
    display: none;
  }

  .toolbox {
    font-size: 2vh;
  }

  .title2 {
    font-size: 2vh;
    width: 90%;
  }

  .title3 {
    display: flex;
  }

  .underline1 {
    border-color: #ee6c4d;
    border-style: solid;
    border-width: 0vh 0vh 0.3vh 0vh;
    padding-bottom: -1vh;
    position: inline;
  }

  .b {
    font-size: 1.65vh;
  }

  .skillBox1 {
    display: grid;
    grid-template-columns: 50% 50%;
  }

  .skillbg {
    width: 90%;
    height: 2vh;
    background-color: #95D5B2;
    transition: 0.6s;
  }

  .skillfill {
    width: 0%;
    height: 2vh;
    background-color: #74C69D;
  }

  @keyframes skillf {
    0% {width: 0%;}
    100% {width: 85%;}
  }

  @keyframes UI {
    0% {width: 0%;}
    100% {width: 75%;}
  }

  @keyframes Java {
    0% {width: 0%;}
    100% {width: 60%;}
  }

  .skills2 {
    height: 100%;
    display: grid;
    grid-column: auto;
    grid-template-columns: 1fr;
    justify-self: start;
    align-self: start;
  }

  .skills2 p{
    align-self: end;
  }

  .skills2 div {
    display: flex;
  }

  .title3 {
    display: flex;
  }

  /* footer */

  .footer {
    height: 10vh;
    background-color: green;
  }

}

@media only screen and (min-width: 600px) {
  body {
      width: 100%;
      height: 100%;
      min-height: 100vh;
      background-color: white;
      font-family: text;
      margin: 0px;
      padding: 0px;
      display: grid;
      grid-template-columns: 15% 85%;
    }

  /* Menu */

  .menu {
    width: 100%;
    height: 100%;
    position: sticky;
    top: 0;
    background-color: #081C15;
    font-size: 4vh;
    grid-area: 1 / 1 / span 2 / span 1;
    display: flex;
    justify-content: center;
  }

  .menuholder {
    width: 90%;
  }

  .menuholder a {
    text-decoration: none;
  }

    .logo {
      width: 100%;
      height: 15vh;
    }

  .button {
    margin: 0vh auto 0vh auto;
    width: 100%;
    height: 7.5vh;
    background-color: white;
    text-align: center;
    line-height: 7.5vh;
    transition: 0.8s;
    background: -webkit-linear-gradient(0deg, #FFF 50%, #ee6c4d 50%);
    background-size: 200% 7.5vh;
    color: black;
    font-size: 2.5vh;
    margin: 0vh 0vh 2vh 0vh;
  }

  .button:hover {
    background-position: -100% 0;
    color: white;
    text-decoration: none;
  }

    /* Header */

  .header {
    height: 15vh;
    grid-area: 1 / 2 / span 1 / span 1;
    background-color: #1B4332;
    line-height: 15vh;
    padding: 0vh 0vh 0vh 5vh;
    font-size: 5vh;
    color: white;
  }

  .headerholder {
    display: flex;
    margin: 0vh 0vh 0vh 2.5vh;
  }

    /* Content */

  .content {
    width: 100%;
    height: 100%;
    grid-area: 2 / 2 / span 1 / span 1;
  }

}
