@font-face {
  font-family: text;
  src: url(RobotoMono-Regular.ttf);
}

/* Phone screens */
@media only screen and (max-width: 599px) {
  body {
    display: grid;
    grid-template-columns: 100%;
    background-color: white;
    font-family: text;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
  }

  /* title */
  .header {
    height: 5vh;
    background-color: #1B4332;
    line-height: 5vh;
    font-size: 4.5vw;
    color: white;
  }

  .headerholder {
    display: flex;
    justify-content: center;
  }

  /* Menu */
  .logo {
    visibility: hidden;
    display: none;
  }

  .menu {
    margin: auto;
    width: 100%;
    height: 7.5vh;
    background-color: #081C15;
    font-size: 4vw;
  }

  .menuholder {
    margin: 1.5vh auto 1.5vh auto;
    display: flex;
    justify-content: space-around;
  }

  .menuholder a {
    width: 22.5%;
    height: 50%;
    text-decoration: none;
    color: black;
  }

  .button {
    height: 50%;
    background-color: white;
    text-align: center;
    transition: 0.8s;
    background: -webkit-linear-gradient(0deg, #FFF 50%, #ee6c4d 50%);
    background-size: 200% 7.5vh;
  }

  .button:active {
    background-position: -100% 0;
    color: white;
    text-decoration: none;
  }

  /* Contents */
  .content {
    margin: 0vh 0vh 0vh 5%;
    height: 100%;
  }

  .content2 {
    width: 95%;
    font-size: 1.5vh;
  }

/* Revealing of contents */
  .reveal{
    position: relative;
    opacity: 0;
    transition: 1s all ease;
  }

  .reveal.active{
    opacity: 1;
  }

  .active.fade {
    animation: fade-bottom 1s ease-in;
  }


  @keyframes fade-bottom {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  /* Text decorations */
  .underline {
    border-color: #ee6c4d;
    border-style: solid;
    border-width: 0vh 0vh 0.3vh 0vh;
    padding-bottom: -1vh;
    position: inline;
  }

  .button1, .button2, .button3 {
    margin: 0vh 2vh 0vh 0vh;
    transform:rotate(0deg);
    transition: 0.2s linear;
    width: 0%;
    height: 0%;
    border-top: 1vh solid transparent;
  	border-left: 1vh solid green;
  	border-bottom: 1vh solid transparent;
  }

  .rotated {
    transform:rotate(90deg);
    transition: 0.2s linear;
  }


  .hidden_content, .hidden_content1, .hidden_content2 {
    display: none;
    font-size: 2vh;
    overflow-wrap: break-word;
    width: 90%;
  }

  .hidden_content {
    padding: 2vh 0vh 4vh 0vh;
  }

  .hidden_content1 {
    padding: 1vh 0vh 2vh 0vh;
  }

  .hidden_content2 {
    padding: 1vh 0vh 10vh 0vh;
  }

  .content2contact {
    font-size: 2.25vh;
    padding: 0vh 0vh 2vh 0vh;
  }

  .download {
    margin: 1vh 0vh 0vh 0vh;
  }

  .summary {
    margin: 0vh 0vh 0vh 0vh;
  }

  .summary p {
    margin: -1vh 0vh 0vh 0vh;
  }

  .summary2, .summary3 {
    margin: -0.5vh 0vh 0vh -1vh;
  }

  .title, .title1 {
    width: 90%;
    font-size: 2.75vh;
    padding: 0vh 0vh 1.5vh 0vh;
    display: flex;
  }

  .experience div {
    margin: 0vh 0vh 0vh -4vw;
  }

  .data {
    padding: 0vh 0vh 0vh 0vh;
  }

  .dates, .company {
    font-size: 2.25vh;
  }

  li {
    color: green;
  }

  li span {
    color: black;
  }

  /* Sidebar */

  .contactsSidebar {
    visibility: hidden;
    display: none;
  }

  .toolbox p{
    font-size: 1.5vh;
  }

  .underline1 {
    border-color: #ee6c4d;
    border-style: solid;
    border-width: 0vh 0vh 0.3vh 0vh;
    padding-bottom: -1vh;
    position: inline;
  }

  .skillBox1 {
    display: grid;
    grid-template-columns: 50% 50%;
  }

  .skillbg {
    width: 100%;
    height: 2vh;
    background-color: #95D5B2;
    transition: 0.6s;
  }

  .skillfill {
    width: 0%;
    height: 2vh;
    background-color: #74C69D;
  }

  @keyframes skillf {
    0% {width: 0%;}
    100% {width: 85%;}
  }

  @keyframes UI {
    0% {width: 0%;}
    100% {width: 75%;}
  }

  @keyframes Java {
    0% {width: 0%;}
    100% {width: 60%;}
  }

  .skills2 {
    height: 100%;
    display: grid;
    grid-column: auto;
    grid-template-columns: 1fr;
    justify-self: start;
    align-self: start;
  }

  .skills2 p{
    align-self: end;
  }

  .skills2 div {
    display: flex;
  }

  .title3 {
    display: flex;
  }

  .b {
    font-size: 2.25vh;
  }

  /* Site: Portfolio */

  

}

@media only screen and (min-width: 600px) {
  body {
      width: 100%;
      background-color: white;
      font-family: text;
      margin: 0;
      padding: 0;
      display: grid;
      grid-template-columns: 12.5% 87.5%;
    }

    ::-webkit-scrollbar {
      width: 10px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
      background: #f1f1f1;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
      background: #888;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
      background: #555;
    }

  /* Menu */

  .menu {
    width: 100%;
    height: 100%;
    background-color: #081C15;
    grid-area: 1 / 1 / span 2 / span 1;
  }

  .menu1 {
    width: 100%;
    height: 100%;
    font-size: 4vh;
  }

  .menuholder {
    width: 90%;
    position: sticky;
    top: 0vh;
    margin: auto;
  }

  .menuholder a {
    text-decoration: none;
  }

    .logo {
      width: 100%;
      height: 15vh;
    }

  .button {
    margin: 0vh auto 2vh auto;
    width: 100%;
    height: 7.5vh;
    background-color: white;
    text-align: center;
    line-height: 7.5vh;
    transition: 0.8s;
    background: -webkit-linear-gradient(0deg, #FFF 50%, #ee6c4d 50%);
    background-size: 200% 7.5vh;
    color: black;
    font-size: 2.5vh;
  }

  .button:hover {
    background-position: -100% 0;
    color: white;
    text-decoration: none;
  }

    /* Header */

  .header {
    height: 15vh;
    grid-area: 1 / 2 / span 1 / span 1;
    background-color: #1B4332;
    line-height: 15vh;
    padding: 0vh 0vh 0vh 2.5vh;
    font-size: 5vh;
    color: white;
  }

  .headerholder {
    display: flex;
    margin: 0vh 0vh 0vh 2.5vh;
  }

    /* Content */

  .content {
    width: 100%;
    grid-area: 2 / 2 / span 1 / span 1;
    display: grid;
    grid-template-columns: 77.5% 22.5%;
  }

  .content2contact {
    display: none;
  }

  .content2 {
    grid-area: 1 / 1 / span 1 / span 1;
    width: 90%;
    min-height: 100vh;
    margin: 2vh 0vh 0vh 5vh;
  }

  .work {
    padding: 1vh 0vh 0vh 0vh;
  }

  .title {
  width: 100%;
  height: 5vh;
  }

  .summary {
    padding: 0vh 0vh 3vh 0vh;
  }

  .summary2 {
    font-size: 3vh;
    padding: 0vh 0vh 0vh 0vh;
  }

  .hidden_content {
    font-size: 2.5vh;
  }

  .hidden_content2 {
    font-size: 2.5vh;
  }

  .underline {
  border-color: #ee6c4d;
  border-style: solid;
  border-width: 0vh 0vh 0.5vh 0vh;
  margin-bottom: 0.5vh;
}

  .data {
    width: 100%;
    display: grid;
    grid-template-columns: 30% 70%;
    padding: 1vh 0vh 0vh 0vh;
  }

  .dates {
    grid-area: 1 / 1 / span 2 / span 1;
    height: 100%;
    font-size: 2.7vh;
  }

  .datesbox {
    height: 100%;
  }

  .datesbox div {
    position: sticky;
    top: 0;
  }

  .company {
    grid-area: 1 / 2 / span 1 / span 1;
    font-size: 2.7vh;
  }

  .experience {
    grid-area: 2 / 2 / span 1 / span 1;
  }

  .experience ul {
    margin-left: -3vw;
  }

  .experience li {
    color: #52B788;
  }

  .experience li span {
    color: black;
  }

  .hidden_content {
    margin: 1vh 0vh 0vh 0vh;
  }

  /* reveal */

  .reveal{
    position: relative;
    opacity: 0;
    transition: 1s all ease;
  }

  .reveal.active{
    opacity: 1;
  }

  .active.fade {
    animation: fade-bottom 1s ease-in;
  }


  @keyframes fade-bottom {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .work1 {
    padding: 0vh 0vh 10vh 0vh;
  }

  /* sidebar */

  .sidebar {
    grid-area: 1 / 2 / span 1 / span 1;
  }

  .sidebar, .sidebar a, .sidebar p, .sidebar span {
    background-color: #40916C;
    color: white;
    transition: 0.3s;
  }

  .sidebar:hover, .sidebar:hover a, .sidebar:hover p, .sidebar:hover span{
    background-color: #B7E4C7;
    color: black;
  }

  .sidebar2 {
    min-height: 310vh;
    width: 100%;
  }

  .sidebarContent {
    position: sticky;
    top: 2vh;
    width: 90%;
    margin: auto;
  }

  .contactsSidebar {
    text-align: center;
  }
  
  .contactsSidebar p {
    line-height: 1vh;
  }

  .sidebar a {
    text-decoration: none;
  }

  .Contact {
    font-size: 3vh;
  }
  
  .hoverA {
    margin: 0 -.25rem;
    padding: 0 .25rem;
    box-shadow: inset 0 0 0 0 #52B788;
    transition: box-shadow .3s linear;
    font-size: 2vh;
  }
  
  .hoverA:hover {
    box-shadow: inset 300px 0 0 0 #52B788;
  }

  .underline1 {
    font-size: 2.75vh;
    padding: 0vh 0vh 1vh 0vh;
    text-decoration: underline;
    text-underline-offset: 20%;
  }

  .skillbg {
    width: 100%;
    height: 2vh;
    background-color: #95D5B2;
    transition: 0.6s;
  }
  
  .sidebar:hover .skillbg {
    width: 100%;
    height: 2vh;
    background-color: #D8F3DC;
  }
  
  .skillfill {
    width: 0%;
    height: 2vh;
    background-color: #74C69D;
  }
  
  @keyframes skillf {
    0% {width: 0%;}
    100% {width: 85%;}
  }
  
  @keyframes UI {
    0% {width: 0%;}
    100% {width: 75%;}
  }
  
  @keyframes Java {
    0% {width: 0%;}
    100% {width: 60%;}
  }

  .skillBox p {
    line-height: 1vh;
  }

  .hidden_content1 p {
    font-size: 2.1vh;
  }

  .skillBox {
    padding: 2vh 0vh 0vh 0vh;
  }

  .skillBox1 div:nth-of-type(2) {
    padding: 1vh 0vh 0vh 0vh;
  }

  .b {
    font-size: 2.5vh;
  }

  .hidden_content1 {
    margin: 0vh 0vh 0vh 0vh;
  }

  .toolBox p {
    font-size: 2.1vh;
  }

  .toolBox1 p {
    font-size: 2.1vh;
  }

  /* Site: Portfolio */

  .content1 {
    width: 100%;
    background-color: white;
  }
  
  .text, .images {
    width: 100%;
  }
  
  .text {
    padding: 1.5vh 0vh 5vh 0vh;
    font-size: 150%;
  }
  
  .text1 {
    margin: 0vh 0vh 0vh 5vh;
  }
  
  .text1 p {
    font-size: 2vh;
  }
  
  .underline {
    border-color: #ee6c4d;
    border-style: solid;
    border-width: 0vh 0vh 0.5vh 0vh;
    margin-bottom: 0.5vh;
  }
  
  .images {
    display: flex;
  }
  
  .images1 {
    width: 60%;
    background-color: white;
    display: flex;
    justify-content: center;
    padding: 1vh 0vh 0vh 0vh;
    font-size: 90%;
  }
  
  .images2 {
    width: 60%;
    text-align: left;
    margin: 1vh 1vh 1vh 1vh;
  }
  
  .images2 p {
    padding: 0vh 0vh 0vh 0vh;
    line-height: 120%;
  }
  
  .image {
    width: 40vh;
    height: 25vh;
    background-color: blue;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
