.main {
    border: 3px solid black;
    position: fixed;
    top: 50%;
    left: 50%;
    height: 70%;
    width: 60%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
}

.box1 {
    float:left;
    position: fixed;
    background:Red;
    width:72%;
    height:280px;
    margin-left: 15px;
}

.menu{
    float:right;
    position: relative;
    background:blue;
    width:22%;
    height:280px;
    margin-right: 15px;
}

h1{
    color:green;
    margin-left: 15px;
}
